:root {
    --fundo: #483D8B;
    --frente-cart達o: #00CED1;
    --verso-cart達o: #0077ff;
    --destaque: #ffc82f;
    --preto: #000000;
    --branco: #ffffff;

}

body{
    background-color: var(--fundo);
    margin: 0;

}

header{
    background-color: var(--preto);
display: flex;
justify-content: space-around;
padding: 2rem;
}

header a{
    color: var(--branco);
    text-decoration: none;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 2rem;
}

.cartao{
    background-color: var(--frente-cart達o);
    border: 1px solid var(--destaque);
    padding: 40px;
    color: var(--preto);
    box-shadow: 11px 8px 6px var(--preto);
    cursor: pointer;
}

.cartao:hover{
    transform: scale(1.036);
}

.resposta-cartao{
    background-color: var(--verso-cart達o);
    padding: 40px;
    display: none;
}